.send {
	position: relative;
	width:200px;
	height: 200px;
	margin: 0 auto;
	-webkit-filter: url("#goo");
	filter: url("../send.html#goo");
}

.send-button {
	position: absolute;
	left: 50%;
	top: 50%;
	background: #f78e42;
	border: none;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	margin-top: -40px;
	margin-left: -40px;
	color: #fff;
	font-size: 30px;
	padding: 0;
	overflow: hidden;
}

.sent-bg{
	background: #5af158;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.send-icon {
	position: relative;
	font-size: 28px;
	margin: -2px 0 0 -2px;
}

.sent-icon {
	display: none;
}

.send-indicator {
	position: absolute;
	left: 50%;
	top: 50%;
}

.send-indicator-dot {
	position: absolute;
	background: #5af158;
	width: 40px;
	height: 40px;
	margin-left: -20px;
	margin-top: -20px;
	border-radius: 50%;
}

.send-indicator-dot:nth-child(1) {
	background: #03a9f4;
	-webkit-transform: scale(0.8, 0.8);
	transform: scale(0.8, 0.8);
}

.send-indicator-dot:nth-child(2) {
	background: #5af158;
	-webkit-transform: scale(0.85, 0.85);
	transform: scale(0.85, 0.85);
}

.send-indicator-dot:nth-child(3) {
	background: #ffc107;
	-webkit-transform: scale(0.9, 0.9);
	transform: scale(0.9, 0.9);
}

.send-indicator-dot:nth-child(4) {
	background: #ff5722;
	-webkit-transform: scale(0.7, 0.7);
	transform: scale(0.7, 0.7);
}